section.Highlights
  .container
    .Highlights-slider

      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80)")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80)")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80)")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80)")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra

      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80)")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra

      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80)")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
